{% extends 'fefi/base.html' %}
{% block content %}
<p>
    <a href="{% url 'fefi:profile' profile.id %}">{{profile}}</a>
</p>
<form action="{% url 'fefi:foto' profile.id %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">Add image</button>

</form>
{% if foto %}
<h1>succefull upload: {{foto.caption}}</h1>
<img src="{{foto.url}}" alt="foto" width="500" height="500">
{% endif %}
{% for foto in fotos %}
<img src="{{x.foto.url}}" alt="foto" width="500" height="500">
{% endfor %}


{% endblock %}